    $letter-black: #292929;
    $letter-red: #8a1b21;
    html {
        font-size: calc(100vw / 1200);
    }
    
    .container {
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
        width: 100%;
        max-width: 1200px;
    }
    
    .main {
        background: url('./../img/top-background.png') no-repeat;
        background-size: cover;
        .header-ttl {
            margin-top: 75px;
            font-size: 30px;
            border-bottom: 2px solid $letter-black;
            display: inline-block;
            font-family: DNPShueiYMinStd;
        }
        &-ttl {
            z-index: 10;
            margin-top: 45px;
            font-size: 60px;
            line-height: 70px;
            color: $letter-red;
            font-family: DNPShueiYMinStd;
            span {
                font-size: 90px;
            }
        }
        &-desc {
            font-size: 60px;
            line-height: 100px;
            font-family: DNPShueiYMinStd;
        }
        &-content {
            margin-top: 20px;
            display: block;
            position: relative;
            &-content {
                width: 40%;
                z-index: 10;
                position: relative;
            }
            .main-women {
                height: 100%;
                position: absolute;
                right: 0;
                bottom: 0;
                &-img {
                    width: auto;
                    height: 100%;
                }
            }
        }
        &-description {
            position: relative;
            margin-top: 30px;
            font-size: 24px;
            font-weight: 600;
            font-family: YuGoPr6N;
            line-height: 40px;
            color: #494949;
            text-shadow: 0 0 10px white;
        }
        &-signs {
            text-align: center;
            padding: 20px 0px;
            font-family: YuGoPr6N;
            .main-signs-f {
                z-index: 10;
                position: relative;
                display: flex;
                justify-content: center;
                font-size: 20px;
                .main-signs-ff {
                    margin-right: 20px;
                    padding: 5px 20px;
                    color: white;
                    border-radius: 10px;
                    background: linear-gradient(50deg, #000 0%, #b07e41 0%, #c99e5a 35%, #e2bd72 50%, #c99f5a 60%, #b08042 100%);
                }
                .main-signs-fs {
                    color: white;
                    margin-right: 20px;
                    padding: 5px 20px;
                    border-radius: 10px;
                    background: linear-gradient(50deg, #000 0%, #b07e41 0%, #c99e5a 35%, #e2bd72 50%, #c99f5a 60%, #b08042 100%);
                }
                .main-signs-ft {
                    color: white;
                    padding: 5px 20px;
                    border-radius: 10px;
                    background: linear-gradient(50deg, #000 0%, #b07e41 0%, #c99e5a 35%, #e2bd72 50%, #c99f5a 60%, #b08042 100%);
                }
            }
            .main-signs-s {
                z-index: 10;
                position: relative;
                margin-top: 20px;
                display: flex;
                justify-content: center;
                font-size: 20px;
                .main-signs-sf {
                    color: white;
                    margin-right: 20px;
                    padding: 5px 20px;
                    border-radius: 10px;
                    background: linear-gradient(#000 0%, #b07e41 0%, #c99e5a 35%, #e2bd72 50%, #c99f5a 60%, #b08042 100%);
                }
                .main-signs-ss {
                    color: white;
                    margin-right: 20px;
                    padding: 5px 20px;
                    border-radius: 10px;
                    background: linear-gradient(#000 0%, #b07e41 0%, #c99e5a 35%, #e2bd72 50%, #c99f5a 60%, #b08042 100%);
                }
                .main-signs-st {
                    color: white;
                    padding: 5px 20px;
                    border-radius: 10px;
                    background: linear-gradient(#000 0%, #b07e41 0%, #c99e5a 35%, #e2bd72 50%, #c99f5a 60%, #b08042 100%);
                }
            }
        }
    }
    
    @media (max-width:1200px) {
        .main-women-img {
            width: 500rem;
        }
    }
    
    @media (max-width: 750px) {
        .pc {
            display: none !important;
        }
        .main {
            .container {
                padding-right: 0;
            }
            .main-content {
                overflow-x: hidden;
            }
            .main-women {
                right: -40px;
            }
            .header-ttl {
                font-size: 45rem;
            }
            &-ttl {
                font-size: 70rem;
                line-height: 80rem;
            }
            &-desc {
                font-size: 50rem;
                line-height: 100rem;
            }
            &-content {
                &-content {
                    margin-bottom: 20px;
                }
            }
            &-description {
                width: 55%;
                padding: 0;
                margin-top: 20px;
            }
            &-signs {
                .main-signs-f {
                    font-size: 15px;
                }
                .main-signs-s {
                    font-size: 15px;
                }
            }
        }
    }
    
    @media (max-width: 550px) {
        .main {
            .header-ttl {
                font-size: 15px;
            }
            &-ttl {
                font-size: 35px;
                line-height: 50px;
                span {
                    font-size: 50px;
                }
            }
            &-desc {
                font-size: 30px;
                line-height: 55px;
            }
            &-content {
                &-content {
                    width: 50%;
                }
            }
            &-description {
                width: 50%;
                padding: 0;
                font-size: 15px;
                line-height: 20px;
            }
            &-signs {
                .main-signs-f {
                    font-size: 10px;
                    .main-signs-ff {
                        margin-right: 10px;
                        padding: 5px 10px;
                    }
                    .main-signs-fs {
                        margin-right: 10px;
                        padding: 5px 10px;
                    }
                    .main-signs-ft {
                        padding: 5px 10px;
                    }
                }
                .main-signs-s {
                    font-size: 10px;
                    .main-signs-sf {
                        margin-right: 10px;
                        padding: 5px 10px;
                    }
                    .main-signs-ss {
                        margin-right: 10px;
                        padding: 5px 10px;
                    }
                    .main-signs-st {
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
    
    // price
    .price {
        padding: 80px 40px 0px;
        &-img {
            position: relative;
            &-button {
                position: absolute;
                bottom: 8vw;
                display: flex;
                justify-content: center;
                img {
                    width: 80%;
                }
                img:hover {
                    opacity: 0.8;
                    cursor: pointer;
                }
            }
        }
        &-question {
            margin-top: 85px;
            margin-left: -35px;
            font-size: 65px;
            line-height: 70px;
            font-family: BodoniSvtyTwo;
            color: #f9ddd3;
        }
    }
    
    @media (max-width: 550px) {
        .price {
            &-question {
                font-size: 40px;
                line-height: 50px;
            }
        }
    }
    
    // viviong
    .viviong {
        background: #fceee9;
        padding-top: 50px;
        padding-bottom: 50px;
        &-text {
            margin-left: 75px;
            font-size: 20px;
            line-height: 30px;
            font-family: DNPShueiYMinStd;
            color: #8a1b21;
        }
        &-what {
            font-size: 70px;
            line-height: 75px;
            font-family: DNPShueiYMinStd;
            color: #8a1b21;
        }
        &-description-f {
            margin-top: 40px;
            font-size: 29px;
            font-weight: 600;
            line-height: 50px;
            font-family: YuGoPr6N;
            span {
                color: #8a1b21;
            }
        }
        &-description-s {
            margin-top: 30px;
            font-size: 29px;
            font-weight: 600;
            line-height: 50px;
            font-family: YuGoPr6N;
        }
        &-image {
            margin-top: 40px;
            display: flex;
            justify-content: right;
            &-pack {
                width: 70%;
            }
        }
        &-sign {
            margin-top: 80px;
            display: flex;
            justify-content: center;
            &-box {
                font-size: 40px;
                line-height: 70px;
                padding: 0px 150px;
                background-color: #8a1b21;
                color: white;
                font-weight: 600;
            }
        }
    }
    
    @media (max-width:750px) {
        .viviong {
            &-image {
                &-pack {
                    width: 90%;
                }
            }
            &-sign {
                &-box {
                    font-size: 40rem;
                    line-height: 70rem;
                    padding: 10px 250rem;
                }
            }
        }
    }
    
    @media (max-width: 550px) {
        .viviong {
            &-what {
                font-size: 40px;
                line-height: 50px;
            }
            &-description-f {
                margin-top: 20px;
            }
        }
    }
    
    .daily {
        padding: 50px 50px;
        background: url('./../img/daily.png') center no-repeat;
        background-size: 100%;
        &-eat-f {
            text-align: center;
            font-size: 45px;
            line-height: 70px;
            color: #292929;
            font-family: DNPShueiYMinStd;
            &-red {
                color: #8a1b21;
            }
            .sp {
                display: none;
            }
        }
        &-eat-s {
            margin-top: 20px;
            text-align: center;
            font-size: 45px;
            line-height: 70px;
            color: #292929;
            font-family: DNPShueiYMinStd;
            &-red {
                color: #8a1b21;
            }
            .sp {
                display: none;
            }
        }
    }
    
    @media (max-width:1200px) {
        .daily {
            &-eat-f {
                .sp {
                    display: flex;
                }
            }
            &-eat-s {
                .sp {
                    display: flex;
                }
            }
        }
    }
    
    @media (max-width:750px) {
        .daily {
            padding: 50px 50px;
            &-eat-f {
                font-size: 70rem;
                line-height: 80rem;
            }
            &-eat-s {
                margin-top: 20rem;
                font-size: 70rem;
                line-height: 80rem;
            }
        }
    }
    
    @media (max-width:550px) {
        .daily {
            padding: 50px 20px;
            // &-eat-f {
            //     font-size: 70rem;
            //     line-height: 80rem;
            // }
            // &-eat-s {
            //     font-size: 70rem;
            //     line-height: 80rem;
            // }
        }
    }