// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
    display: flex;
    justify-content: center;
}

.header {
    &-ttl {
        font-size: 30px;
        text-align: center;
        margin-top: 80px;
        border-bottom: 2px solid $letter-black;
        display: inline-block;
    }
}